<div [hidden]="!isVisible">
    <mat-form-field>
        <mat-label>Book Name</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Edition</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <br>

    <mat-label>Author</mat-label>
    <button mat-raised-button class="choose-author" (click)="chooseAuthor()">Select</button>
    <br>
    <br>

    <button mat-raised-button class="submit-button">Submit</button>
</div>