<header class="app-header">
    <table class="main-table">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <div class="icon">
                                <mat-icon>local_library</mat-icon>
                            </div>
                        </td>
                        <td>
                            <p class="heading">Library Mangement</p>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="text-align:right" *ngIf="isLoggedIn">
                <input type="text" class="search-bar-input" [(ngModel)]="searchText" [matAutocomplete]="auto" [formControl]="searchTextFormControl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let form of searchBarAllowedForms" [value]="form">
                        {{ form }}
                    </mat-option>
                </mat-autocomplete>
                <button mat-button (click)="search()" class="search-button">
                    <mat-icon class="search-bar-icon">search</mat-icon>
                </button>
                <button mat-icon-button class="header-menu" [matMenuTriggerFor]="appMenu">
                    <mat-icon class="header-menu">more_vert</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</header>

<mat-menu #appMenu="matMenu">
    <div class="app-menu">
        <button mat-menu-item (click)="openAccount()">
            <mat-icon class="account-icon">person</mat-icon>
            {{ userName }}
        </button>
        <button mat-menu-item (click)="logoutUser()" *ngIf="canShowLogout">
            <mat-icon class="logout-icon">power_settings_new</mat-icon>
            Logout
        </button>
    </div>
</mat-menu>

<router-outlet ></router-outlet>
